@font-face {
    font-family: 'Sora';
    font-display: swap;
    src: url("./assets/fonts/Sora/Sora-Thin.ttf") format('truetype');
}

@font-face {
    font-family: 'Sora-Bold';
    font-display: swap;
    src: url("./assets/fonts/Sora/Sora-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Sora-Regular';
    font-display: swap;
    src: url("./assets/fonts/Sora/Sora-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Sora-Medium';
    font-display: swap;
    src: url('./assets/fonts/Sora/Sora-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 0.7px;

}

strong {
    font-family: 'Sora-Bold', sans-serif;
    font-weight: bolder;
}

/* INICIO MAIN 1 */
.main-1 {
    background-image: url('assets/bg-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-1-largura {
    max-width: 1020px;
    margin: 0 auto;
    display: grid;
    align-content: center;
    justify-items: center;
}

.section-1 {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
}

.video {
    width: 100%;
    max-height: 450px;
}

.video iframe {
    border-radius: 18px;
    width: 100%;
    height: 450px;
    max-height: 450px;
}

.div-1-main-1 {
    padding-top: 150px;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.div-1-main-1 img {
    max-width: 100px;
}

.p-1-div-1-main-1 {
    color: #fff;
    font-size: 21px;
    font-family: 'Sora-Medium';
    margin-bottom: 30px;
    text-align: center;

}

.p-1-div-1-main-1 span {
    color: #CFFF00;
    font-size: 21px;
    font-family: 'Sora-Bold';
}

.p-2-div-1-main-1 {
    color: #fff;
    font-size: 18px;
    font-family: 'Sora-Regular';
    padding-bottom: 15px;
    text-align: center;
}


.button-main-1 {
    width: 100%;
}

.div-3-main-1 {
    max-width: 500px;
    width: 100%;
    margin-bottom: 15px;
}

.button-main-1 {
    width: 100%;
    height: 40px;
    background-color: #cfff00;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.button-main-1 p {
    color: #000;
    font-size: 15px;
    font-family: 'Sora-Bold';
    letter-spacing: 2.7px;
}

.div-4-main-1 {
    max-width: 500px;
}

.div-4-main-1 img {
    max-width: 250px;
    width: 100%;
}

/* FIM MAIN 1 */
/*  */
/* */

/* INICIO MAIN 2 */
.main-2 {
    background-color: #000a1e;
    background-image: url('assets/bg-2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    padding-top: 60px;
}

.main-2-largura {
    max-width: 1020px;
    margin: 0 auto;
}

.border-main-2 {
    width: 100%;
    Border: 1px solid;
    margin: 0 auto;
    max-width: 200px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-image: linear-gradient(to right, #CFFF0000, #CFFF00, #CFFF0000) 0.5;
}

.div-1-main-2 p {
    text-align: center;
    color: #cfff00;
    font-family: 'Sora-Medium';
    font-size: 25px;
}

.div-tudo-main-2 {
    margin: 0 auto;
}

.div-2-main-2,
.div-2-main-2-parte-2,
.div-2-main-2-parte-3 {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
}

.div-2-main-2,
.div-2-main-2-parte-3 {
    background-image: linear-gradient(90deg, #13254a 0, #13254A00 100%);

}

.p-1-main-2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Sora-Medium';
    letter-spacing: 1.7px;
}

.p-2-main-2 {
    color: #fff;
    font-family: 'Sora';
}

.div-3-main-2 img,
.div-3-main-2-parte-2 img {
    max-width: 120px;
}

.div-4-main-2 {
    margin-left: 25px;
}

.div-2-main-2-parte-2,
.div-2-main-2-parte-3 {
    background-image: linear-gradient(-90deg, #13254a 0, #13254A00 100%);
    flex-direction: row-reverse;
}

.div-3-main-2-parte-2 {
    /* max-width: 120px; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: flex-end;
}

/* FIM MAIN 2 */
/*  */
/*  */

/* INICIO MAIN 2 */
.main-3 {
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
}

.div-parte-1-main-3,
.div-parte-2-main-3 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.div-1-main-3,
.div-parte-1-main-3,
.div-parte-2-main-3 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.div-2-main-3 {
    max-width: 1020px;
    align-items: center;
}

.div-3-main-3 {
    max-width: 1020px;
    margin: 0 auto;
}

.p-1-main-3,
.p-2-main-3 {
    color: #202020;
    font-family: 'Sora-Medium';
    font-size: 19px;
    line-height: 1.3em;
    letter-spacing: .4px;
    max-width:500px;
}

.p-1-main-3 strong {
    font-family: 'Sora-Bold';
}

.p-2-main-3 {
    font-family: 'Sora-Regular';
    font-size: 19px;
    max-width: 600px;
    width: 100%;
}

.button-main-3 {
    background-color: #cfff00;
    border-radius: 6px 6px 6px 6px;
    padding: 20px 90px;
    border: none;
    animation-name: tamanho;
    cursor: pointer;
    transition: 1s;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 18px 0 rgb(207 255 0 / 41%);
}

.button-main-3 p {
    font-family: 'Sora-Bold';
    font-size: 15px;
    color: #000;
}

.button-main-3:hover {
    transform: scale(1.05);
    animation: none;
}

@keyframes tamanho {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

/* FIM MAIN 3 */
/*  */
/* */

/* INICIO MAIN 4 */
.main-4 {
    background-color: #000a1e;
    background-image: url('assets/bg-3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    color: #fff;
}

.main-4-largura,
.main-5-largura,
.main-6-largura,
.main-8-largura {
    max-width: 1020px;
    margin: 0 auto;
}

.border-main-4 {
    width: 100%;
    Border: 1px solid;
    margin: 0 auto;
    max-width: 200px;
    margin-top: 15px;
    border-image: linear-gradient(to right, #CFFF0000, #CFFF00, #CFFF0000) 0.5;
}

.div-1-main-4 p {
    color: #fff;
    padding: 80px;
    padding-bottom: 2px;
    text-align: center;
    color: #cfff00;
    font-family: 'Sora-Medium';
    font-size: 25px;
}

.div-2-main-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    align-items: start;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.div-3-main-4 {
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-family: 'Sora-Medium', Sans-serif;
    margin-bottom: 20px;
}

.div-3-main-4 p:first-child {
    color: #fff;
    text-align: center;
    font-size: 100px;
    font-family: 'Sora-Medium';
    /* margin-bottom: 20px; */
}

.div-3-main-4 p:last-child {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-family: 'Sora';
    margin-bottom: 20px;
    margin-top: 10px;
}

.div-4-main-4 {
    padding: 20px;
    padding-bottom: 2px;
    text-align: center;
    color: #cfff00;
    font-family: 'Sora-Bold';
    font-size: 25px;
}

.p-main-4 {
    margin-top: 15px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Sora';
    font-size: 20px;
}

.p-main-4 span {
    padding-bottom: 2px;
    text-align: center;
    color: #cfff00;
    font-family: 'Sora';
    font-size: 20px;
}

/* FIM MAIN 4 */
/*  */
/*  */
.main-5 {
    background-color: #010a1a;
    background-image: url('assets/bg-4.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    color: #fff;
}

.border-main-5 {
    width: 100%;
    Border: 1px solid;
    margin: 0 auto;
    max-width: 200px;
    margin-top: 15px;
    margin-bottom: 60px;
    border-image: linear-gradient(to right, #CFFF0000, #CFFF00, #CFFF0000) 0.5;
}

.div-2-main-5 p {
    color: #fff;
    padding: 80px;
    padding-bottom: 2px;
    text-align: center;
    color: #cfff00;
    font-family: 'Sora-Medium';
    font-size: 25px;
}

.div-3-main-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-content: center;
    justify-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
}

.div-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-logos img,
.div-logos-2 img {
    width: 35%;
    border-radius: 8px;
    margin-bottom: 25px;
}

.div-logos-2 img {
    margin-top: 80px;
}

.div-logos p,
.div-logos-2 p {
    text-align: center;
    font-family: 'Sora-Medium';
    font-size: 15px;
}

/* FIM MAIN 5 */
/*  */
/*  */
.main-6 {
    background-color: #000512;
    background-size: cover;
}

.main-6-largura {
    padding-bottom: 30px;
}

.border-main-6 {
    width: 100%;
    Border: 1px solid;
    margin: 0 auto;
    max-width: 200px;
    margin-top: 15px;
    border-image: linear-gradient(to right, #CFFF0000, #CFFF00, #CFFF0000) 0.5;
}

.div-1-main-6 p:first-child {
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Sora-Regular';
    padding-top: 40px;
    letter-spacing: 10px;

}

.div-1-main-6 p:last-child {
    padding: 25px 80px;
    padding-bottom: 2px;
    text-align: center;
    color: #cfff00;
    font-family: 'Sora-Medium';
    font-size: 25px;
}

.div-2-main-6 p:first-child,
.div-1-main-7 p:first-child,
.div-1-main-8 p:first-child {
    font-size: 25px;
    text-align: center;
    color: #cfff00;
    font-family: 'Sora-Medium';
    margin-top: 90px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.div-2-main-6 p:last-child,
.div-1-main-7 p:last-child,
.div-1-main-8 p:last-child {
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    font-family: 'Sora';
    font-size: 18px;
    line-height: 1.4em;
}

.div-3-main-6,
.div-3-main-6-ultimo {
    background-image: linear-gradient(180deg, #4870BF08 27%, #4870BF1F 150%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 12px;
    margin-bottom: 60px;
}

.div-3-main-6-ultimo {
    margin-bottom: 0px;
    grid-template-columns: 1fr 1fr 1fr;
}

.check-ok {
    width: 12px;
}

.bg-main-6 {
    margin-bottom: 25px;
}

.div-4-main-6-icones {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    padding-left: 20px;
}

.div-4-main-6-icones img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.p-1-main-6,
.p-2-main-6 {
    padding-top: 20px;
    margin-bottom: 0px;
    color: #fff;
    font-family: 'Sora-Bold';
    padding-left: 20px;
    font-size: 20px;
}


.p-2-main-6 {
    padding-top: 5px;
    margin-bottom: 20px;
    color: #244d9f;
    font-family: 'Sora-Medium';
    font-size: 20px;
}

.div-checks {
    display: flex;
    padding-left: 20px;
}

.p-1-div-checks {
    font-family: 'Sora';
    color: #fff;
    margin-left: 10px;
    margin-bottom: 5px;
}

/* FIM MAIN 6 */
/* INICIO MAIN 7  */

.main-7 {
    background-color: #021231;
}

.main-7-largura {
    max-width: 1020px;
    margin: 0 auto;
}

.carrossel {
    position: relative;
    padding: 15px;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow-x: auto;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
    display: flex;
    max-width: 1020px;
    flex-flow: row nowrap;
    gap: 15px;
    align-items: center;
}

.item {
    flex-shrink: 0;
    /* transition: all 600ms ease-in-out; */
    opacity: 0.5;
}

.current-item {
    opacity: 1;
}

/* This is from w3schools */
/* 
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}




/* FIM MAIN7 */
/*  INICIO MAIN 8*/

.main-8 {
    background-image: url('assets/bg-5.webp');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.main-8-largura {
    padding-bottom: 40px;
}

.div-1-main-8 p {
    margin-top: 0 !important;
}

.div-3-main-6-ultimo-numeros {
    background-image: linear-gradient(180deg, #4870BF08 27%, #4870BF1F 150%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px;
    margin-bottom: 60px;
}

.div-3-main-6-ultimo-numeros {
    margin-bottom: 0px;
}

/* FIM MAIN 8 */
/*  INICIO MAIN 9*/

.main-9 {
    background-image: url('assets/bg-6.webp');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.main-9-largura {
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.div-1-main-9 {
    color: #CFFF00;
    font-size: 24px;
    font-family: 'Sora-Medium';
    padding-top: 40px;
}

.div-1-main-9 p {
    margin-bottom: 20px;
    margin-left: 10px;
}

/* .border-main-2{
    margin: 10px;
    max-width: 42%;
} */
.div-2-main-9 {
    align-items: center;
    display: flex;
    padding: 15px;
    margin-top: 30px;
    max-width: 600px;
}

.div-2-main-9 img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.div-2-main-9 p {
    font-size: 17px;
    font-family: 'Sora';
    color: #fff;
}

.main-10 {
    background-color: #050B1E;
}

.main-10-largura,
.main-11-largura,
.main-12-largura,
.main-13-largura,
.main-14-largura {
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.div-1-main-10 {
    margin-top: 20px;
}

.p-1-main-10 {
    color: #cfff00;
    font-size: 30px;
    font-family: 'Sora-Bold';
    padding-top: 20px;
    text-align: center;
}

.p-2-main-10,
.p-3-main-10 {
    color: #fff;
    font-size: 20px;
    font-family: 'Sora';
    padding-top: 20px;
    text-align: center;
}

.p-3-main-10 {
    padding-bottom: 90px;
}

.div-4-main-10 {
    padding: 15px;
    margin-top: 30px;
    max-width: 400px;
}

.div-4-main-10 img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    margin-bottom: 12px;
}

.div-4-main-10 p {
    font-size: 17px;
    font-family: 'Sora';
    color: #fff;
}

.div-p-e-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-computador {
    width: 500px;
    height: 500px;
}

/* INICIO MAIN 11 */
.main-11 {
    background-color: #021231;
}

.div-1-main-11 {
    display: flex;
}

.div-2-main-11 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.p-1-main-11 {
    color: #CFFF00;
    font-family: 'Sora-Bold';
    font-size: 25px;
    text-align: center;
}

.imagem-garantia {
    width: 500px;
    height: 500px;
}

.p-2-main-11 {
    color: #CFFF00;
    font-family: 'Sora-Medium';
    font-size: 25px;
    padding-bottom: 20px;
}

.div-1-main-11 {
    display: flex;
    flex-direction: column;

}

.div-3-main-11 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.p-3-main-11 {
    color: #D3D3D3;
    font-family: 'Sora';
    font-size: 17px;
    line-height: 1.5em;
    padding: 10px;
}

/* INICIO MAIN 12 */
.main-12 {
    background-image: url('assets/bg-8.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.div-1-main-12 {
    background-color: #FFFFFF0D;
    backdrop-filter: blur(20px);
    border-radius: 8px 8px 8px 8px;
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    margin: 0 auto;
}

.main-12-largura {
    padding-top: 100px;
    padding-bottom: 100px;
}

.img-logo-branco {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

.p-1-main-12 {
    color: #CFFF00;
    font-family: 'Sora-Bold';
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-2-main-12 {
    color: #FFF;
    font-family: 'Sora';
    font-size: 20px;
    text-align: center;
}

.div-3-main-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-main-3 {
    margin-top: 30px;
    margin-bottom: 50px;
}

/* INICIO MAIN 13 */
.main-13 {
    background-color: #021231;
}
.div-3-main-13{
    display: flex;
    flex-direction: row-reverse
}
.imagem-garantia-especial{
    width: 350px;
    height: 350px;
    text-align: center;
}

.p-2-main-13 {
    color: #CFFF00;
    font-family: 'Sora-Bold';
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-3-main-13 {
    color: #D3D3D3;
    font-family: 'Sora';
    font-size: 17px;
    max-width: 500px;
}


.main-14-largura{
    padding-top: 0px;
}
.p-1-main-14{
    color: #202020;
    font-family: "Sora-Medium";
    font-size: 25px;
    text-align: center;
}
.div-1-main-14{
    display: flex;
    justify-content: center;
}
.div-2-main-14{
    background-color: #000;
    margin: 30px;
    margin-top: 80px;
    width: 200px;
    height: 200px;
}

/* INICIO MAIN 15 */
.main-15{
  background-color: #050D1F;
}
.div-2-main-15{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.p-1-main-14, .p-1-main-16{
    color: #CFFF00;
    font-family: 'Sora-Bold';
    font-size: 25px;
}
.p-2-main-14{
    color: #D3D3D3;
    font-family: 'Sora';
    font-size: 17px;
    max-width: 700px;
    margin-left: 20px;
    margin-top: 20px;
}
.main-14-largura {
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* INICIO MAIN 16 */
.main-16{
    background-color: #021131;
}
.p-1-main-16{
    text-align: center;
}











footer {
    background-color: #0a0a0a;
    height: 100px;
}

.div-footer {
    width: 100%;
}

.div-footer p {
    text-align: center;
    color: #fff;
    padding: 35px;
    font-size: 15px;
    font-family: 'Sora';
}